# Build and Release Folders
bin/
bin-release/

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/god_war/bin-debug/IndexLoader.swf
/god_war/bin-debug/main.swf
/god_war_lib/bin/god_war_lib.swc
